<div class="container">
  <div class="row" id="question">
      <div class="col-12">
          <h1>Vérifier le volume sonore</h1>
          <p>Vous allez pouvoir commencer l’évaluation des sons. Mais avant veillez à être dans de bonnes conditions pour écouter les bandes sonores et tester le volume sonore du son suivant :</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <audio id="audio" controls>
            <source src="/sample-sound.wav" type="audio/wav">
        </audio>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <a class="btn btn-primary btn-lg" href="/answers/index" role="button">C’est parti !</a>
      </div>
    </div>
  <div>
<div>

