<div class="container">
  <div class="jumbotron">
    <div class="col-12">
      <h1 class="display-4">Consigne</h1>
      <p class="lead">Lors de ce test il vous sera demandé d’écouter attentivement 20 bandes sonores d’une durée de quelques secondes chacune. A la fin de chaque son, vous devrez répondre aux quatre questions suivantes :
      </p>
    </div>
    <div class="col-12">
      <hr class="my-4">
      <h2 class="display-5">1- A quel point ce son est-il désagréable pour vous ?</h2>
      <p>Pour répondre à cette question, vous devrez cliquer sur une ligne continue allant de “pas du tout désagréable” à “extrêmement désagréable” :.</p>
    </div>
    <%= render "snippets/aversif" %>
    <div class="col-12">
      <hr class="my-4">
      <h2 class="display-5">2- Quelle valence attribuez-vous à ce son ?</h2>
      <p>Il s’agit d’indiquer ici si le son vous évoque quelque chose de positif ou de négatif. Vous devrez répondre en cliquant sur le petit personnage qui correspond le mieux à votre ressenti :</p>
    </div>
    <%= render "snippets/valence" %>

    <div class="col-12">
      <hr class="my-4">
      <h2 class="display-5">3- A quel point ce son vous impacte-t-il émotionnellement ?</h2>
      <p>Il s’agit cette fois d’indiquer à quel point le son vous touche. Il n’y a pas ici de notion de positif ou de négatif. La bande sonore peut vous toucher de façon positive ou négative. Vous devrez répondre en cliquant sur le petit personnage qui correspond le mieux à votre ressenti :</p>
    </div>
    <%= render "snippets/arousal" %>

    <div class="col-12">
      <hr class="my-4">
      <h2 class="display-5">4- Est-ce que ce son vous évoque une douleur physique ?</h2>
      <p>Vous devrez ici évaluer à quel point ce son évoque pour vous une douleur physique en cliquant sur l’item correspondant :</p>
    </div>
    <%= render "snippets/douleur" %>

    <div class="col-12">
      <hr class="my-4">
      <h2 class="display-5">Exemple</h2>
      <p>Afin de vous aider à compléter vos réponses, nous allons prendre quelques exemples avec des images en illustrant les réponses données à ces mêmes questions par un participant.</p>
    </div>

    <div class="d-flex justify-content-end">
      <a class="btn btn-primary btn-lg" href="/site/example1" role="button">Voir les exemples</a>
    </div>
  </div>
</div>
