<div class="container">
  <div class="row" id="question">
    <div class="col-12">
        <h1>Exemple Négatif</h1>
        <p>Enfin, un dernier exemple d’image, connue pour être perçue comme “désagréable” par la majorité des gens :</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
       <img src="/images/photo-3.png">
    </div>

    <div class="col-12">
      <h1>À quel point cette image est-elle désagréable pour vous ?</h1>
    </div>
    <%= render "snippets/aversif", check_item: 10 %>
    <div class="col-12"><p>
        (Cette image est considérée comme extrêment désagréable par le(la) participant(e))
    </p></div>

    <div class="col-12">
      <h1>Quelle valence attribuez-vous à cette image ?</h1>
    </div>
    <%= render "snippets/valence", check_item: 1 %>
    <div class="col-12"><p>
        (Cette image provoque une sensation très négative chez le(la) participant(e))
    </p></div>

    <div class="col-12">
      <h1>À quel point cette image vous impacte-t-elle émotionnellement ?</h1>
    </div>
    <%= render "snippets/arousal", check_item: 9%>
    <div class="col-12"><p>
        (Le(la) participant(e) est très touché(e) par cette image)
    </p></div>

    <div class="col-12">
      <h1>Est-ce que cette image vous évoque une douleur physique ?</h1>
    </div>
    <%= render "snippets/douleur", check_item: 3 %>
    <div class="col-12"><p>
        (L’image évoque moyennement une douleur physique chez le(la) participant(e))
    </p></div>

    <div class="col-12 d-flex justify-content-end">
      <a class="btn btn-primary btn-lg" href="/site/check-sound" role="button">Dernière consigne</a>
    </div>
  <div>
<div>
