<div class="container">
  <div class="jumbotron">
    <div class="col-12">
      <h1 class="display-4">Bonjour</h1>
      <p class="lead">Ce protocole d’évaluation de sons a été conçu dans le cadre d’un projet de thèse en Neurosciences Cognitives. Il a pour but de créer une banque de sons validés grâce à des échelles évaluant votre ressenti à l’écoute de diverses bandes sonores. Vingt sons au total seront présentés. Pour chacun d’entre eux, vous devrez répondre à 4 questions à l’aide d’échelles qui seront expliquées par la suite.
      </p>
      <hr class="my-4">
      <p>L’ensemble de l’expérience dure environ XXX minutes. Les réponses sont anonymes.</p>
    </div>
    <div class="d-flex justify-content-end">
      <a class="btn btn-primary btn-lg" href="/site/consigne" role="button">Si vous souhaitez participer, cliquer ici.</a>
    </div>
  </div>
</div>
