<div class="container">
  <div class="jumbotron">
    <div class="col-12">
      <h1 class="display-4">Merci</h1>
      <p class="lead">Si vous souhaitez des informations sur cette étude, vous pouvez contacter : xxx@xxx.fr
      </p>
      <hr class="my-4">
      <p>Merci de votre participation !</p>
    </div>
  </div>
</div>
