// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* HIDE RADIO */
.radio-img {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  max-width:90%;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 4px solid #000;
}

p {
  font-size: 1.5rem
}

label {
  font-size: 1.5rem
}

div h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
